<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.mapper.BillMapper">

    <select id="getBillCountByProviderId" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM smbms_bill
        WHERE `providerId` = #{providerId}
    </select>

    <insert id="add" parameterType="Bill">
        INSERT INTO smbms_bill (`billCode`, `productName`, `productDesc`, `productUnit`, `productCount`, `totalPrice`,
                                `isPayment`, `createdBy`, `creationDate`, `providerId`)
        values (#{billCode}, #{productName}, #{productDesc}, #{productUnit}, #{productCount}, #{totalPrice},
                #{isPayment}, #{createdBy}, #{creationDate}, #{providerId})
    </insert>

    <select id="getBillList" resultType="Bill">
        SELECT b.*, p.`proName` AS providerName
        FROM smbms_bill as b
        JOIN smbms_provider as p
        ON b.`providerId` = p.`id`
        <where>
            <if test="productName != null">
                `productName` = #{productName}
            </if>
            <if test="providerId != null">
                AND `providerId` = #{providerId}
            </if>
            <if test="isPayment != null">
                AND `isPayment` = #{isPayment}
            </if>
        </where>
    </select>

    <select id="getBillCount" resultType="int">
        SELECT COUNT(*)
        FROM smbms_bill
        <where>
            <if test="productName != null">
                `productName` = #{productName}
            </if>
            <if test="providerId != null">
                AND `providerId` = #{providerId}
            </if>
            <if test="isPayment != null">
                AND `isPayment` = #{isPayment}
            </if>
        </where>
    </select>

    <delete id="deleteBillById" parameterType="int">
        DELETE
        FROM smbms_bill
        WHERE `id` = #{id}
    </delete>

    <select id="getBillById" parameterType="int" resultType="Bill">
        SELECT *
        FROM smbms_bill
        WHERE `id` = #{id}
    </select>

    <update id="modify" parameterType="Bill">
        UPDATE smbms_bill
        <set>
            <if test="productName != null">
                `productName` = #{productName},
            </if>
        </set>
        <where>
            <if test="id != null">
                `id` = #{id}
            </if>
        </where>
    </update>

    <delete id="deleteBillByProviderId" parameterType="int">
        DELETE
        FROM smbms_bill
        WHERE `providerId` = #{providerId}
    </delete>

</mapper>
