<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.mapper.RoleMapper">
    <select id="getRoleList" resultType="Role">
        SELECT *
        FROM smbms_role
    </select>

    <insert id="add" parameterType="Role">
        INSERT INTO smbms_role (roleCode, roleName, createdBy, creationDate)
        VALUES (#{roleCode}, #{roleName}, #{createdBy}, #{creationDate})
    </insert>

    <delete id="deleteRoleById">
        DELETE
        FROM smbms_role
        WHERE `id` = #{id}
    </delete>

    <update id="modify" parameterType="Role">
        update smbms_role
        <set>
            <if test="roleCode!=null">
                roleCode = #{roleCode},
            </if>
            <if test="roleName!=null">
                roleName = #{roleName},
            </if>
            <if test="modifyBy != null">
                modifyBy = #{modifyBy},
            </if>
            <if test="modifyDate != null">
                modifyDate = #{modifyDate}
            </if>
        </set>
        <where>
            `id`=#{id}
        </where>

    </update>

    <select id="getRoleById" resultType="Role">
        SELECT *
        FROM smbms_role
        WHERE `id` = #{id}
    </select>

    <select id="roleCodeIsExist" resultType="int">
        SELECT COUNT(*)
        FROM smbms_role
        WHERE `roleCode` = #{roleCode}
    </select>
</mapper>
