<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>username</param-name>
        <param-value>zzq</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>

    <servlet>   <!-- servlet标签给Tomcat服务器配置Servlet程序 -->
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.zzq.Servlet.HelloServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloHttpServlet</servlet-name>
        <servlet-class>com.zzq.Servlet.HelloHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloHttpServlet</servlet-name>
        <url-pattern>/helloHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContextServlet</servlet-name>
        <servlet-class>com.zzq.Servlet.ContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextServlet</servlet-name>
        <url-pattern>/contextServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestAPIServlet</servlet-name>
        <servlet-class>com.zzq.Servlet.RequestAPIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>com.zzq.Servlet.ParameterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.zzq.Servlet.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.zzq.Servlet.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardC</servlet-name>
        <servlet-class>com.zzq.Servlet.ForwardC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseIOServlet</servlet-name>
        <servlet-class>com.zzq.Servlet.ResponseIOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response1</servlet-name>
        <servlet-class>com.zzq.Servlet.Response1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>com.zzq.Servlet.Response2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/response2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response1</servlet-name>
        <url-pattern>/response1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseIOServlet</servlet-name>
        <url-pattern>/responseIOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardC</servlet-name>
        <url-pattern>/forwardC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/parameterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAPIServlet</servlet-name>
        <url-pattern>/requestAPI</url-pattern>
    </servlet-mapping>
</web-app>