<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.zzq.service.UserServiceImpl"/>
    <bean id="afterLog" class="com.zzq.log.AfterLog"/>
    <bean id="beforeLog" class="com.zzq.log.BeforeLog"/>

<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(public * com.zzq.service.UserServiceImpl.*(..))"/>-->
<!--        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

<!--    <bean id="diyPointCut" class="com.zzq.diy.DiyPointCut"/>-->
<!--    <aop:config>-->
<!--        <aop:aspect ref="diyPointCut">-->
<!--            <aop:pointcut id="pointcut" expression="execution(public * com.zzq.service.UserServiceImpl.*(..))"/>-->
<!--            <aop:after method="after" pointcut-ref="pointcut"/>-->
<!--            <aop:before method="before" pointcut-ref="pointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <bean id="annotationPointCut" class="com.zzq.diy.AnnotationPointCut"/>
    <aop:aspectj-autoproxy/>

</beans>