<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoMysqlImpl" class="com.zzq.dao.UserDaoMysqlImpl"/>
    <bean id="userDaoSqlServerImpl" class="com.zzq.dao.UserDaoSqlServerImpl"/>
    <bean id="userServiceImpl" class="com.zzq.service.UserServiceImpl">
        <property name="userDao" ref="userDaoMysqlImpl"/>
    </bean>

</beans>